<footer>
    <div><a href="https://github.com/sethbergman/12factor-node" target="_blank">Source Code</a></div>
    <div><a href="https://sethbergman.com" target="_blank">SethBergman.com</a></div>
    <div><a href="https://github.com/sethbergman" target="_blank">Github Profile</a></div>
</footer>
</body>
</html>
