<!doctype html>
<html lang="en">
    <% include ../partials/head.ejs %>
<body>

  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">

      <% include ../partials/admin-processes.ejs %>

  </section>

<section class="concrete">
  <nav>
    <div id="prev"><a href="./logs">&laquo; Previous</a></div>
    <div id="next"></div>
  </nav>
</section>

<foot>
    <% include ../partials/foot.ejs %>
</foot>
