<!doctype html>
<html lang="en">
    <% include ../partials/head.ejs %>
<body>

  <header>
    <h1><a href="./" title="The Twelve-Factor App">The Twelve-Factor App</a></h1>
  </header>

  <section class="abstract" id="factor">

      <% include ../partials/logs.ejs %>

  </section>

<section class="concrete">
  <nav>
    <div id="prev"><a href="./dev-prod-parity">&laquo; Previous</a></div>
    <div id="next"><a href="./admin-processes">Next &raquo;</a></div>
  </nav>
</section>

<foot>
    <% include ../partials/foot.ejs %>
</foot>
